body {
  padding: 0;
  margin: 0;
  background-color: #F05D5E;
  font-family: monospace;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#board {
  height: 190px;
  width: 190px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

h1 {
  text-align: center;
}

.row {
  height: 60px;
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.space {
  height: 60px;
  width: 60px;
  border: 2px solid #E4FF1A;
  display: flex;
  flex-direction: row;
  justify-content: center;
    font-size: 26px;
  line-height: 50px;
}

.row:first-child .space {
  border-top: none;
}

.row:last-child .space {
  border-bottom: none;
}

.space:first-child {
  border-left: none;
}

.space:last-child {
  border-right: none;
}

.counter0 {
  color: #CEE7E6;
}

.counterX {
  color: #1BE7FF;
}

.green {
  color: #5BC16C;
}
